.nav-head {
    margin-left: 20px;
}

.ashik {
    margin-left: 200px;
}

.section-3 {
    margin-top: 100px;
}

.carousel-caption {
    bottom: 10.25rem !important;
}

.carousel-img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.section-3-text {
    padding: 0px 280px;
}

.extra {
    background-color: rgba(207, 243, 231, 0.815);
}

.extra-text {
    height: 400px;
    width: 100%;
    /* padding-top: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-4 {
    margin-top: 100px;
}

.register {
    padding-left: 410px;
    margin-top: 23px;
}

.section-5 {
    margin-top: 100px;
    padding: 0px 280px;
}

.company {
    width: 150px;
    margin: 5px 14px;

}

.section-6 {
    margin-top: 100px;
}